/*Style from sidenav
.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }*/
mat-toolbar{
  height: auto;
  padding: 0px;
  align-items: flex-start;
}

mat-sidenav{
    width: 200px;
    padding: 10px;
}
mat-sidenav-container{
    height: calc(100vh - 65px);

}
.content{
  height: calc(100vh - 98px);
  max-width: 1520px;

}
button{
  position: absolute;
  margin: 30px 10px 30px 10px;
  width: auto;
  height: auto;
  padding: 5px
}
.mat-icon-size{
  font-size: 25px;
}
app-navbar{
  width: 100%;
}
