<section id="container-section-inicio">
    <section id="container-header">
        <app-navbar></app-navbar>
    </section>
    <section id="container-main">
        
        <h1>¡Pastas!</h1>
        <div class="container-promocion">
            <app-saladcard></app-saladcard>
            <app-saladcard></app-saladcard>
            <app-saladcard></app-saladcard>
        </div>
        <div class="container-promocion">
            <app-saladcard></app-saladcard>
            <app-saladcard></app-saladcard>
            <app-saladcard></app-saladcard>
        </div>
        
    </section>
    