<section id="container-section-inicio">
    <section id="container-header">
        <app-navbar></app-navbar>
    </section>
    <section id="container-main">
        
        <h1>¡Pastas!</h1>
        <div class="container-promocion">
            <app-saladcard titulo="" ingrediente1="2 huevos" ingrediente2="1 diente de ajo picado" ingrediente3="1/2 cebolla picada" ingrediente4="Sal y pimienta al gusto" ingrediente5="Aceite de oliva para freír"></app-saladcard>
            <app-saladcard titulo="" ingrediente1="6 placas de lasaña" ingrediente2="150 g de gambas" ingrediente3="2 manojos de espinacas" ingrediente4="100 g de  queso fresco tipo requesón o ricotta." ingrediente5="1 cebolla pequeña"></app-saladcard>
            <app-saladcard titulo="" ingrediente1="400 g de harina de trigo" ingrediente2="4 huevos grandes" ingrediente3="1 cucharada de aceite de oliva" ingrediente4="1 pizca de sal"></app-saladcard>
        </div>
        <div class="container-promocion">
            <app-saladcard titulo="" ingrediente1="" ingrediente2="" ingrediente3="" ingrediente4="" ingrediente5=""></app-saladcard>
            <app-saladcard titulo="" ingrediente1="" ingrediente2="" ingrediente3="" ingrediente4="" ingrediente5=""></app-saladcard>
            <app-saladcard titulo="" ingrediente1="" ingrediente2="" ingrediente3="" ingrediente4="" ingrediente5=""></app-saladcard>
        </div>
        
    </section>
    