<section id="container-section-inicio">
    <section id="container-header">
        <app-navbar></app-navbar>
    </section>
    <section id="container-main">
        
        <h1>¡Pastas!</h1>
        <div class="container-promocion">
            <app-pastcard1></app-pastcard1>
            <app-pastcard2></app-pastcard2>
            <app-pastcard3 ></app-pastcard3>
        </div>
        <div class="container-promocion">
            <app-pastcard4></app-pastcard4>
            <app-pastcard5></app-pastcard5>
            <app-pastcard6></app-pastcard6>
        </div>
        
    </section>
    