<section id="nav-bar">  
    <div>
        <img id="icon-navbar" src="../../../../assets/icon/gastroWorld.png" alt="gastroWorldpng">
    </div>

    <!--<div id="menu">
        
        <div class="container-texto-menu">
            <div>
                <button mat-button [matMenuTriggerFor]="afterMenu">Nosotros</button>
                <mat-menu #afterMenu="matMenu" xPosition="after">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
                </mat-menu>
            </div>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_down"></mat-icon>
        </div>

        <div class="container-texto-menu">
            <div>
                <button mat-button [matMenuTriggerFor]="afterMenu">Productos</button>
                <mat-menu #afterMenu="matMenu" xPosition="after">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
                </mat-menu>
            </div>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_down"></mat-icon>
        </div>
        
        <div class="container-texto-menu">
            <div>
                <button mat-button [matMenuTriggerFor]="afterMenu">Servicios</button>
                <mat-menu #afterMenu="matMenu" xPosition="after">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
                </mat-menu>
            </div>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_down"></mat-icon>
        </div>
        
        <div class="container-texto-menu">
            <div>
                <button mat-button [matMenuTriggerFor]="afterMenu">Clientes</button>
                <mat-menu #afterMenu="matMenu" xPosition="after">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
                </mat-menu>
            </div>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_down"></mat-icon>
        </div>

        <div class="container-texto-menu">
            <div>
                <button mat-button [matMenuTriggerFor]="beforeMenu">Contáctanos</button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
                </mat-menu>
            </div>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_down"></mat-icon>
        </div>       
    </div>-->
    

    <div id="container-btn-user">

        <div id="container-btn-user">
            <a class="btn-reserva" mat-fab extended routerLink="/mesa">
                <mat-icon>event_seat</mat-icon>
                Reserva
              </a>

        <a class="btn-user" mat-fab extended routerLink="/login">
            <mat-icon>person</mat-icon>
            Ingresar
          </a>

          <a class="btn-cart"mat-fab extended routerLink="/carrito">
            <mat-icon>shopping_cart</mat-icon>
            Compras
          </a>

          <a class="btn-exit" mat-fab extended (click)="cerrarSession()">
            <mat-icon>logout</mat-icon>
            Salir
          </a>
        </div>

    </div>
</section>
<section id="nav-bar-categoria">
    <ul id="container-name-categoria">
        <div routerLink="/ensaladas">Ensaladas</div>
        <div routerLink="/pastas">Pastas</div>
        <div routerLink="/carnes">Carnes</div>
        <div routerLink="/sopas">Sopas</div>
        <div routerLink="/bebidas">Bebidas</div>
        <div routerLink="/postres">Postres</div>

    </ul>
</section>
