<body>
    <div class="main-content">
    </div>
    <div class="footer-main">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <div class="footer">
            <div class="footer-content">
                <img src="../../../../assets/slider/gastroWorld.png" width="250">
                <div class="icons">
                    <p>Calma el hambre!</p>
                    <p>Al registrarte aceptas todos los términos y condiciones</p>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bx-phone'></i> 967 016 927</a>
                </div>
            </div>
            <div class="footer-content">
                <h4>Información</h4>
                <li><a href="">Locales</a></li>
                <li><a href="">Direcciones</a></li>
            </div>
            <div class="footer-content">
                <h4>Mi cuenta</h4>
                <li><a href="">Promociones</a></li>
                <li><a href="">Mis pedidos</a></li>
            </div>
            <div class="footer-content">
                <p>Este es nuestro proyecto hecho con Angular</p>
                <div class="img-libro">
                <h4>Reclamaciones</h4>            
                <li><a href="#"><img src="https://static.vecteezy.com/system/resources/previews/017/744/893/original/open-book-illustration-png.png" alt="Libro de reclamaciones" width="25%"></a></li>
                </div>
            </div>
        </div>
    </div>
</body>