body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main-content {
    flex: 1;
}

.footer-main {
    background-color: #f5fbfc;
    display: flex;
    justify-content: center;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3.5rem;
    padding: 1rem 0;
    width: 100%;
    max-width: 1200px;
}

.footer-content h4 {
    color: #000;
    margin-bottom: 1rem;
    font-size: 20px;
}

.footer-content li {
    list-style: none;
    margin-bottom: 16px;
}

.footer-content li a {
    display: block;
    color: chocolate;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

.footer-content li a:hover {
    transform: translateY(-3px) translateX(-5px);
    color: #fff;
}

.footer-content p {
    color: #000;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
}

.icons a {
    display: inline-block;
    font-size: 22px;
    color: #000;
    margin-right: 17px;
    transition: all .40s ease;
}

.icons a:hover {
    color: #fff;
    transform: translateY(-5px);
}

.footer-content img {
    max-width: 100%;
    height: auto;
}
.img-libro{
    display: flex;
    gap: 10px; 
}