<section id="container-section-inicio">
    <section id="container-header">
        <app-navbar></app-navbar>
    </section>
    <section id="container-main">
        
        <h1>¡ENSALADAS!</h1>
        <div class="container-promocion">
            <app-salacard1></app-salacard1>
            <app-salacard2></app-salacard2>
            <app-salacard3></app-salacard3>
        </div>
        <div class="container-promocion">
            <app-salacard4></app-salacard4>
            <app-salacard5></app-salacard5>
            <app-salacard6></app-salacard6>
        </div>
        
    </section>