<section id="container-section-inicio">
    <section id="container-header">
        <app-navbar></app-navbar>
    </section>
    <section id="container-main">
        
        <h1>¡ENSALADAS!</h1>
        <div class="container-promocion">
            <app-saladcard titulo="Ensalada de brotes verdes con feta y nueces" ingrediente1="300 g de canónigos" ingrediente2="200 g de queso feta" ingrediente3="100 g de nueces peladas" ingrediente4="2 peras (opcional)" ingrediente5="1 cucharada de miel"></app-saladcard>
            <app-saladcard titulo="Ensalada de bulgur y aguacate" ingrediente1="1 taza de bulgur" ingrediente2="1 tomate" ingrediente3="Guindilla seca" ingrediente4="1 taza de guisantes" ingrediente5="2 aguacates"></app-saladcard>
            <app-saladcard titulo="Ensalada de patata y cebolleta con mostaza" ingrediente1="400g de patatas pequeñas" ingrediente2="1 cebolleta" ingrediente3="100 ml de caldo de carne" ingrediente4="Cebollino picado" ingrediente5="Sal y pimienta"></app-saladcard>
        </div>
        <div class="container-promocion">
            <app-saladcard titulo="Ensalada de puerros" ingrediente1="4 puerros" ingrediente2="8 rabanitos" ingrediente3="200 gr de queso fresco" ingrediente4="1 cebolleta" ingrediente5="aceite de oliva virgen extra"></app-saladcard>
            <app-saladcard titulo="Carpaccio de calabacín" ingrediente1="500 g de calabacín" ingrediente2="100 g de queso feta" ingrediente3="80 g de nueces" ingrediente4="Eneldo fresco" ingrediente5="1 limón"></app-saladcard>
            <app-saladcard titulo="Ensalada de garbanzos y tomates cherry" ingrediente1="1 bote de garbanzos en conserva" ingrediente2="12 tomates cherry" ingrediente3="1 cebolleta" ingrediente4="2 huevos (opcional)" ingrediente5="1 ajo"></app-saladcard>
        </div>
        
    </section>