<section id="container-section-inicio">
    <section id="container-header">
        <app-navbar></app-navbar>
    </section>
    <section id="container-main">
        
        <div class="detalle-container">
            <div class="image">
              <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Imagen de ensalada">
            </div>
            <div class="text">
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              </div>
          </div>
    
    </section>