#detalles-plato {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  align-items: center;
  padding: 20px;
}

.titulo-centrado {
  grid-column: 1 / span 2;
  text-align: center;
}

.detalle-imagen img {
  max-width: 100%; 
  height: auto;
}


.detalle-item {
  margin-bottom: 10px;
}

.detalle-item strong {
  font-weight: bold;
}
