<section id="container-section-inicio">
    <section id="container-header">
        <app-navbar></app-navbar>
    </section>
    <section id="container-main">
        <app-slider></app-slider>
        <h1>¡LO MAS PEDIDO!</h1>
        <div class="container-promocion">
            <app-foodcard></app-foodcard>
            <app-foodcard></app-foodcard>
            <app-foodcard></app-foodcard>
        </div>
        <div class="container-promocion">
            <app-foodcard></app-foodcard>
            <app-foodcard></app-foodcard>
            <app-foodcard></app-foodcard>
        </div>
        
    </section>
    <section id="container-footer">

    </section>
</section>
<app-footer></app-footer>
